rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {


    match /display_name/{userId} {
      allow get;
      allow update, list, delete: if request.auth != null && request.auth.uid == resource.data.user;
      allow create: if (
        request.auth != null &&
        request.resource.data.name is string &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() <= 20 &&
        request.resource.data.recieve_question is bool &&
        request.resource.data.self_introduction is string &&
        request.resource.data.self_introduction.size() < 200 &&
        request.resource.data.user is string &&
        request.resource.data.user == request.auth.uid
        );

    }

    match /posts/{post} {
      allow read;
      allow delete, update: if request.auth != null && request.auth.uid == resource.data.user;
      allow create: if request.auth != null;
    }


  }
}
